# python
*.pyc
*.pyo
*.pyd

# CSharpHost
CSharpHost/.vs/
CSharpHost/obj/
CSharpHost/out/

# Local python libraries
python_runtime/

# Development
.idea/
.venv/
CSharpDemo/

# Unity Implementation
UnityImplementation/**
!UnityImplementation/Assets/
!UnityImplementation/Assets/EditorScripts/
!UnityImplementation/Assets/EditorScripts/**

# Output
STM_out/
Unity_out/